<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CMWA.Packager.Utility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CMWA.Packager.Utility.Properties.Settings>
            <setting name="PackageFileTypes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>CMWA.Packager.Custom.Package, CMWA.Packager.Custom, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null</string>
                        <string>CMWA.Packager.Custom.ApplicationNavigation, CMWA.Packager.Custom, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null</string>
                        <string>CMWA.Packager.Custom.ShortCut, CMWA.Packager.Custom, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Languages" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>fr</string>
                        <string>en</string>
                        <string>nl</string>
                    </ArrayOfString>
                </value>
            </setting>
        </CMWA.Packager.Utility.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
