<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile" xsi:type="File" fileName="./logs/${date:format=yyyy-MM-dd}_log.txt" layout="------------------------------${newline}${counter:increment=1}|${longdate}|${level:uppercase=true}|${logger}|${message}${newline}${exception:format=message}${newline}${exception:format=stacktrace}"/>
    <target name="logfile2" xsi:type="File" fileName="./logs/d${date:format=yyyy-MM-dd}_log.txt" layout="${counter:increment=1}|${longdate}|${level:uppercase=true}|${logger}|${message}"/>
  </targets>

  <rules>
    <logger name="wcf" minlevel="Info" writeTo="logfile" />
    <logger name="dispose" minlevel="Info" writeTo="logfile2" />
  </rules>
</nlog>