<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile" xsi:type="File" filename="${basedir}/logs/${date:format=yyyy-MM-dd}_log.txt" layout="------------------------------${newline}${counter:increment=1}|${longdate}|${level:uppercase=true}|${logger}|${message}${newline}${exception:format=message}${newline}${exception:format=stacktrace}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile" />
  </rules>
</nlog>