<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="GamesPath" value="http://localhost:20934/GamesXML/"/>
  </appSettings>
  <connectionStrings>
    <add name="ToppingGamesEntities" connectionString="metadata=res://*/ToppingGamesEntities.csdl|res://*/ToppingGamesEntities.ssdl|res://*/ToppingGamesEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql7.hostinguk.net;initial catalog=llequehot6793com6306_topmachine;user id=cmwalolo;password=Javubf12!!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDeleteServices" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://213.246.205.75:85/Services/DeleteServices.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDeleteServices"
        contract="DeleteGameService.IDeleteServices" name="BasicHttpBinding_IDeleteServices" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="TopMachine.Web.GameViewer.Services.ToppingAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment  aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true">
      <baseAddressPrefixFilters>
        <add prefix="http://topmachine.cmwa.eu"/>
      </baseAddressPrefixFilters>
    </serviceHostingEnvironment>
    <services>
      <service name="TopMachine.Web.GameViewer.Services.Topping">
        <endpoint address="" behaviorConfiguration="TopMachine.Web.GameViewer.Services.ToppingAspNetAjaxBehavior"
          binding="webHttpBinding" contract="TopMachine.Web.GameViewer.Services.Topping" />
      </service>
    </services>
  </system.serviceModel>
</configuration>