<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="Topping.Core.Data.Properties.Settings.TopMachineDBConnectionString" connectionString="Data Source=tcp:oudhg2o5qd.database.windows.net;Initial Catalog=TopMachineDB;Integrated Security=False;User ID=tournamentDB@oudhg2o5qd;Password=P2ssw0rd;Connect Timeout=30;Encrypt=True" providerName="System.Data.SqlClient" />
    <add name="ToppingModelContainer" connectionString="metadata=res://*/ToppingModel.csdl|res://*/ToppingModel.ssdl|res://*/ToppingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=topmachineserver.database.windows.net;initial catalog=TopMachineDB;integrated security=False;user id=TopMachineAdmin;password=t0pm@ch1ne;connect timeout=15;encrypt=False;trustservercertificate=False;applicationintent=ReadWrite;multisubnetfailover=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>