<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="TrainingEntities" connectionString="metadata=res://*/TrainingLists.csdl|res://*/TrainingLists.ssdl|res://*/TrainingLists.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=C:\Projects\TopMachine.2011\TrainingEmpty.db&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
