<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  <add name="ToppingGamesEntities" connectionString="metadata=res://*/ToppingGamesEntities.csdl|res://*/ToppingGamesEntities.ssdl|res://*/ToppingGamesEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql7.hostinguk.net;initial catalog=llequehot6793com6306_topmachine;user id=cmwalolo;password=Javubf12!!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>