<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="system.data" type="System.Data.Common.DbProviderFactoriesConfigurationHandler, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <appSettings>
    <add key="MaxRooms" value="30" />
    <add key="PackageOnServer" value="1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="DicoFREntities" connectionString="metadata=res://*/DicoModel.csdl|res://*/DicoModel.ssdl|res://*/DicoModel.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=C:\Projects\TopMachine.2011\DicoFR.db&quot;" providerName="System.Data.EntityClient" />
    <add name="TopMachineEntities" connectionString="metadata=res://*/ToppingModel.csdl|res://*/ToppingModel.ssdl|res://*/ToppingModel.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=C:\Projects\TopMachine.2011\Last.Kermite.TopMachine.Desktop\TopMachine.Desktop\TopMachine.Services.WCF.Console\App_Data\topping.db&quot;" providerName="System.Data.EntityClient" />
    <add name="TopMachineDB" connectionString="metadata=res://*/ToppingModel.csdl|res://*/ToppingModel.ssdl|res://*/ToppingModel.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=C:\Data Perso\Programmation\Topmachine\codeplex\TopMachine.Desktop\TopMachine.Services.WCF\App_Data\topping.db&quot;" providerName="System.Data.EntityClient" />
    <add name="loloTopMachineDB" connectionString="Data Source=|DataDirectory|Topping.db;Version=3;" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.66.1, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
    </DbProviderFactories>
  </system.data>
  <system.web>
    <compilation debug="true" />
  </system.web>

  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="TopMachine.Services.WCF.Topping" behaviorConfiguration="DefaultBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/TopMachine.Services.WCF/Service1/" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <!-- Unless fully qualified, address is relative to base address supplied above -->
        <endpoint address="" binding="customBinding" bindingConfiguration="customBinding0" contract="Topping.Core.Logic.IProxy">
          <!-- 
              Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.
          -->
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <!-- Metadata Endpoints -->
        <!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. -->
        <!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <customBinding>
        <binding name="customBinding0">
          <binaryMessageEncoding/>
          <httpTransport  allowCookies="true">
          </httpTransport>
        </binding>
      </customBinding>
    </bindings>    
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>        
        <behavior>
          <serviceMetadata httpGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
    <requiredRuntime version="v4.0.30319" />
  </startup>
  <runtime>
    <generatePublisherEvidence enabled="false" />
  </runtime>
</configuration>
