<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TopMachine.Topping.Frontend.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <TopMachine.Topping.Frontend.Properties.Settings>
      <setting name="WidthOfGrid" serializeAs="String">
        <value>501</value>
      </setting>
      <setting name="LocalUser" serializeAs="String">
        <value />
      </setting>
      <setting name="OnlineUser" serializeAs="String">
        <value />
      </setting>
      <setting name="OnlinePassword" serializeAs="String">
        <value />
      </setting>
      <setting name="MyFriends" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="GridWindowLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="GridWindowSize" serializeAs="String">
        <value>800, 600</value>
      </setting>
    </TopMachine.Topping.Frontend.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
