<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DicoFREntities" connectionString="metadata=res://*/DicoModel.csdl|res://*/DicoModel.ssdl|res://*/DicoModel.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=C:\Projects\TopMachine.2011\DicoFR.db&quot;" providerName="System.Data.EntityClient"/>
    <add name="DicoFREntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=C:\Projects\TopMachine.2011\DicoFR.db&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
